// Besser in Zukunft
@use 'mixins.scss';
@use 'func.scss';

.nocheineclass {
    border: 30px;
    @include mixins.themixin;
}

h6{
    @include mixins.themixin2(color,lime);
}

h5 {
    top: func.meinefunktion(1,20);
}

.error {
    background-color: red;
}

.error-big {
    @extend .error;
    font-size: 36px;
}

.error-smal {
    @extend .error;
    font-size: 10px;
}


.nocheineclass2 {
    // @debug "Deprecated";
    // @extend h6;
    @include mixins.themixin;
}

// .nocheineclass3 {
//     @extend .nocheineclass
// }

$wert: 15;
.button {
    position: func.wenn(0,left);

    &:hover {
        position: func.wenn($wert,left);
    }
}

@if $wert <= 20 {

    $sizes: 40px, 50px, 80px;
    @each $size in $sizes {
    .icon-#{$size} {
        font-size: $size;
        height: $size;
        width: $size;
    }
    }
}










